* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #eeeeee;
}

.location, .temperature {
    height: 25vh;
    width: 60%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.search {
    height: 10vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 80%;
    padding: 10px 0 15px 0;
    background-color: transparent;
    color: #eeeeee;
    border: none;
    border-bottom: 1px solid #fff;
}

.btn::placeholder {
    color: #eeeeee;
}

.temperature {
    flex-direction: column;
}

.image {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0,0.2);
    padding: 5px;
    filter: brightness(1.5);
    border-radius: 5px;
}

.degree-section {
    display: flex;
    align-items: center;
}


.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.warning {
    background-color: rgba(255, 0, 0, 0.404);
    color: seashell;
    width: 100%;
    font-size: 0.7em ;
    margin: 20px 0;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}